<div class="row row-centered">
  <div class="col-centered">
    <h1><%= @title %></h1>
  </div>
</div>

<div class="row row-centered">
  <div class="col-centered">
    <i class="fa fa-glass"></i>
    <h3 class="tagline">Get all the juice... <br><span>in concentrated form</span></h3>
  </div>
</div>

<div class="row row-centered">
  <div class="col-centered">
    <form class="" action="/rumors" method="post" data-parsley-validate>
      <textarea name="rumor[body]" data-parsley-trigger="change" required data-parsley-minlength="10" data-parsley-error-message="Your rumor must be at least 10 characters long, please!" id="rumor_body" cols="40" rows="5" placeholder="Submit a rumor" autofocus="autofocus"></textarea><br />
      <div class="row row-centered">
        <div class="col-centered">
          <label for="rumor_submitter">Submitted by:</label>
          <input type="text" name="rumor[submitter]" id="rumor_submitter" placeholder="Anonymous"><br />
        </div>
      </div>
      <%= csrf_tag %>
      <div class="row row-centered">
        <div class="col-centered">
          <button type="submit" class="btn btn-primary btn-lg">Submit Rumor</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row row-centered">
  <div class="col-centered">
    <i class="fa fa-twitter"></i>
    <p class="tweet">Or tweet using <b>#patkellyrumors</b></p>
  </div>
</div>
<hr>

<div class="row row-centered">
  <div class="col-md-3 col-sm-5 col-xs-7 col-centered">
    <% @rumors.each do |rumor| %>
      <div class="rumor">
        "<%= rumor.body %>"<br />
        <% if rumor.tweet_id? %>
          <span class="submitted">Submitted by:</span> <a href="https://twitter.com/<%= rumor.submitter %>/status/<%= rumor.tweet_id %>"><%= rumor.submitter %></a>
        <% elsif rumor.submitter? %>
          <span class="submitted">Submitted by:</span> <%= rumor.submitter %>
        <% else %>
          <span class="submitted">Submitted by:</span><span class="anonymous"> Anonymous</span>
        <% end %> at
        <%= rumor.created_at.in_time_zone('US/Eastern').strftime('%I:%M %p %b %e, %Y') %>
      </div>
      <hr>
    <% end %>
  </div>
</div>

<div class="row row-centered">
  <div class="col-centered">
    <%= will_paginate @rumors %>
  </div>
</div>
