<link href="<%= url('stylesheets/digg_pagination.css') %>" rel="stylesheet" type="text/css">

<h1><%= @title %></h1>
<i class="fa fa-glass"></i>
<h4 class="tagline">Get all the juice... <br><span>in concentrated form</span></h4>

<form action="/rumors" method="post">
  <textarea name="rumor[body]" id="rumor_body" cols="50" rows="5" placeholder="Submit a Rumor"></textarea><br />
  <label for="rumor_submitter">Submitted by:</label>
  <input type="text" name="rumor[submitter]" id="rumor_submitter" placeholder="Anonymous"><br />
  <%= csrf_tag %>
  <button type="submit">Submit Rumor</button>
</form>

<h2>Recent Rumors</h2>
<% @rumors.each do |rumor| %>
  <%= rumor.created_at.in_time_zone('US/Eastern').strftime('%b %e, %Y %I:%M %p') %><br />
  <%= rumor.body %><br />
  <%= rumor.submitter %><br />
  <hr>
<% end %>

<%= will_paginate @rumors %>
